<div class="profile-container grid grid-cols-5 gap-4">
  <div class="profile-search">
    <p>Search Devs</p>
    <%= render "profile_search" %>
 
  </div>
  <div id="profiles" class="grid grid-cols-4 gap-5 mx-auto border-solid col-span-4">
    <% @profiles.each do |profile| %>
      <%= link_to profile do %>
        <%= render profile %>
      <% end %>
    <% end %>
  </div>
</div>


<%= link_to "New profile", new_profile_path %>
