  <%= form_with(model: Answer.new, url: profile_question_answers_path(question.profile, question), local: true) do |form| %>
    <div class="flex items-end justify-between mb-2 px-3 h-1/2">
      <%= form.hidden_field :@question, value: @question %>
      <%= form.text_area :content, placeholder: "Your answer...", id: "small-input", class: "form-control block w-full h-8 bg-transparent border-0 border-b-2 border-purple-700" %>
      <%= form.submit "Submit", class: "btn btn-primary p-3 bg-purple-700 text-white h-1/2" %>
    </div>
  <% end %>
